/* Write your CSS code here */
.home-container{
    text-align: center;
}
.heading{
    color: #000000;
    font-size: 32px;
    font-family: "Roboto";
}
.button{
    border: solid black 1px;
    border-radius: 5px;
    margin: 20px;
    color: #000000;
}